<!DOCTYPE html>
<html>
<head>
  <title>PingPong</title>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    <a href="/">
      <h1 id="title">Ping-Pong-O-Rama</h1>
    </a>
    <nav>
      <div class="nav-link">
        <a href="/players/new">Add Player</a>
      </div>
      <div class="nav-link">
        <a href="/players">View Players</a>
      </div>
      <div class="nav-link">  
        <a href="/games">View Games</a>
      </div>
      <div class="nav-link">
        <a href="/games/new">Add Game</a>
      </div>
      <div class="nav-link">
        <a href="/players/rankings">Rankings</a>
      </div>
    </nav>
  </header>
  <div id="wrapper"
    <%= yield %>
  </div>
  <footer></footer>
</body>
</html>