<!DOCTYPE html>
<html>
<head>
  <title>PingPong</title>
</head>
<body>
  <nav>
    <a href="/players/new">Add Player</a>
    <a href="/players">View Players</a>
  </nav>
  <%= yield %>
</body>
</html>