<div>
  <h1 class="page-title">Games</h1>

  <ul class="gallery">
    <% @games.each do |game| %>
    <li>
      <p>Date: <%= game.game_date %></p>
      <a href="/games/<%= game.id %>">View Game</a>
    </li>
    <% end %>
  </ul>
</div>