<h1>Add Game</h1>

<form method="POST" action="/games">
  <label for="game-date">Date:</label>
  <input type="text" name="game_date" id="game-date">

  <label for="game-time">Time:</label>
  <input type="text" name="game_time" id="game-time">

  <button type="submit">Add Game</button>
</form>