<div>
  <h1 class="page-title">Add Player:</h1>
  <form method="POST" action="/tournaments/add-player">
    <label for="player-name">Players:</label>
      <% @players.each do |player| %>
        <input class="checkbox" type="checkbox" name="player_name" id="player-name" value="<%= player.name %>"/>
        <option class="checkbox-label"><%= player.name %></option>
      <% end %>

    <label for="tournament-name">Tournament Name:</label>
    <input type="text" name="tournament_name" id="tournament-name" value="<%= @tournament.name %>"/>

    <button type="submit" class="button">Add Player To Tournament</button>
  </form>
</div>