<div>
  <h1 class="page-title">Tournaments</h1>

  <a href="/tournaments/new" class="add-link">Add A Tournament</a>

  <ul class="gallery">
  <% @tournaments.each do |tournament| %>
  <li>
    <p>Name: <%= tournament.name %></p>
    <p>Format: <%= tournament.format %></p>
    

    <a href="/tournaments/<%= tournament.id %>" class="link">View Tournament</a>
  </li>
  <% end %>
  </ul>
</div>