<div>
<h1 class="page-title">Rankings</h1>

  <% rank = 1 %>
  <% @players.each do |player| %>
  <p><%= rank %>) <%= player.name %> - <%= player.win_count %> wins, <%= player.loss_count %> losses</p>
  <% rank += 1 %>
  <% end %> 
</div>